<% include ../partials/header %>
<div class="jumbotron">
            <h1 class="display-3">PROJECT I</h1>
            <p class="lead">Workshop FullStack</p>
            <hr class="my-2">
            <p class="lead">tansuta.r  <i class="fa fa-cloud" style="font-size:25px;color:lightblue;"></i></p>
            <p class="lead">
                <!----<button type="button" href="/products" class="btn btn-success">PRODUCT<span class="badge">7</span></button>
                <button type="button" href="/users" class="btn btn-primary"> <span class="badge">7</span></button>-->
                <br>
                <a class="btn btn-warning " href="/products" role="button">PRODUCT<span class="badge">7</span></a>
                <a class="btn btn-success" href="/users" role="button">USER<span class="badge">3</span></a>  
            </p>
        </div>

<% include ../partials/footer %>