<% include ../partials/header %>
<div class="jumbotron">
            <h1 class="display-3">PROJECT I</h1>
            <p class="lead">Workshop FullStack</p>
            <hr class="my-2">
            <p class="lead">tansuta.r</p>
            <p class="lead">
                <button type="button" href="/products" class="btn btn-success">PRODUCT<span class="badge">7</span></button>
                <button type="button" href="/users" class="btn btn-warning">USER <span class="badge">3</span></button>
                
            </p>
        </div>

<% include ../partials/footer %>